---
layout: master_episode
---

<article class="post">

  <header class="post-header">
    <div class="post-title-episode">
      <div class="post-header-stop-id" style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_dark }}');"><span>{{ page.stop_id }}</span></div>
      {% if page.section_title != null %}
        <h2 class="post-header-section-title">{{ page.section_title }}</h2>
      {% endif %}
      {% if page.title != null %}
        <h3 class="post-header-title">{{ page.title }}</h3>
      {% endif %}
    </div>
  </header>

    {% if page.image != null %}
      <div class="post-hero-image-container">
        <div class="post-hero-image">
          <img src="{{ site.baseurl }}{{ page.image }}" alt="">
      </div>
    {% endif %}
    
    <div class="post-content">
      {{ content }}
    </div>

</article>

  
  
  
