---
layout: master_episode
---

<article class="post">

  <header class="post-header">
    <div class="post-title-episode">

      <div
        class="post-header-stop-id"
        style="background-image: url('{{ site.baseurl }}{{ site.headphones_icon_dark }}');"
      >
        <span>{{ page.stop_id }}</span>
      </div>

      <h2
        class="post-header-section-title"
        id="section-title"
      >
        {{ page.section_title }}
      </h2>

      <h3
        class="post-header-title"
        id="page-title"
      >
        {{ page.title }}
      </h3>

<div class="language-switcher">
  <button onclick="setLanguage('en')">English</button>
  <button onclick="setLanguage('tl')">Tagalog</button>
</div>
    </div>
  </header>

  {% if page.image != null %}
    <div class="post-hero-image-container">
      <div class="post-hero-image">
        <img
          src="{{ site.baseurl }}{{ page.image }}"
          alt=""
        >
      </div>
    </div>
  {% endif %}

  <div class="post-content">
    {{ content }}
  </div>

</article>
